@charset "UTF-8";

body {
    background-color: #F9F9F9;
    font-family: Arial, sans-serif;
    margin: 0;
}

h1 {
    color: #00B4FF;
    font-size: 72px;
    margin: 0;
}

nav {
    background-color: #00B4FF;
    border-radius: 0.2em;
    padding: 0.5em;
}

nav > a {
    color: #F9F9F9;
    font-weight: bold;
    margin: 0 0.25em;
}

p {
    color: #006C99;
    font-size: 16px;
    line-height: 24px;
}

p > a {
    color: #00B4FF;
}

.page {
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;
}
